<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/hello.css">
</head>
<body>
    <h1>
        Hello <% if(name){ %>
            <span class="name"><%= name%></span>
        <% } else { %>
            <span class="strange">Stranger</span>
        <% } %>
    </h1>
</body>
</html>


